.house-holder{
    position: absolute;
    @include center;
    transform: translate(-50%, -15%);

    .roof{
        position: absolute;
        width: 0;
        height: 0;
        border-left: 209px solid transparent;
        border-right: 209px solid transparent;
        border-bottom: 226px solid #FFF;
        // border-bottom: 226px solid transparent;
        margin-top: -226px;
        margin-left: -33px;
        filter: drop-shadow(0px 0px 1px red);
        z-index: 2;

        .round-window{
            @include center;
            width: 60px;
            height: 60px;
            border: 1px solid red;
            border-radius: 50%;
            top: 132px;

            &::after{
                @include abs_content;
                height: 100%;
                border-right: 1px solid red;
                width: 50%;
            }
        }
    }

    .chimney{
        @include center;
        width: 39px;
        height: 104px;
        border: 1px solid red;
        margin-left: 110px;
        margin-top: -263px;

        &::before{
            @include abs_content;
            width: 56px;
            height: 14px;
            border: 1px solid red;
            left: 50%;
            transform: translateX(-50%);
            margin-top: -16px;
        }

        &::after{
            @include abs_content;
            width: 65px;
            height: 37px;
            background: white;
            left: 50%;
            transform: translateX(-50%) rotate(47deg);
            bottom: 0;
            bottom: -11px;
            left: 5px;
        }
    }
    
    .house{
        position: relative;
        border: 1px solid red;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 350px;
        height: 250px;
        justify-items: center;
        grid-template-areas: 
        'ferestre'
        'usa';
        
        .ferestre{
            grid-area: ferestre;
            width: 295px;
            height: 81px;
            display: flex;
            justify-content: space-between;
            margin-top: 48px;
            margin-left: -7px;
    
            .fereastra{
                position: relative;
                width: 101px;
                height: 79px;
                border: 1px solid red;

                &::before{
                    @include abs_content;
                    width: 50%;
                    height: 100%;
                    border-right: 1px solid red;
                }

                &.four{
                    height: 81px;

                    &::after{
                        @include abs_content;
                        width: 100%;
                        height: 50%;
                        border-bottom: 1px solid red;
                        margin-top: -1px;
                    }
                }
            }
        }

        .usa{
            position: relative;
            grid-area: usa;
            height: 106px;
            width: 59px;
            border: 1px solid red;
            margin-left: -6px;
            margin-bottom: -1px;

            &::before{
                @include abs_content;
                width: 39px;
                height: 31px;
                border: 1px solid red;
                left: 50%;
                transform: translateX(-50%);
                margin-top: 9px;
            }

            &::after{
                @include abs_content;
                width: 4px;
                height: 4px;
                border: 1px solid red;
                border-radius: 50%;
                left: 1.5px;
                top: 50%;
                margin-top: 1px;
            }
        }
    }

}